<h1><strong>LSCA</strong> David Mendez Guardado</h1>
<h3><small>Licenciado en sistemas computacionales adminsitrativos</small></h3>
<picture>
    <source srcset="/images/great_picture.png" type="image/png" />
    <img src="/images/great_picture.png" alt="A great picture" />
</picture>

<p>
    Soy un desarrollador full stack que siempre quiere compartir el conocimiento
    adquirido a lo largo de los años dentro de la programación, ya que es un
    campo que me apasiona y me encanta, y espero que siempre pueda ayudar a
    otros a aprender y crecer en este emocionante mundo de la programación.
</p>
<p>
    Me apasiona estar con mi familia, jugar con mis hijos, programar, ver
    peliculas en familia y jugar videojuegos, ademas en mi tiempo libre me gusta
    aprender nuevas tecnologias y herramientas que me ayuden a mejorar como
    desarrollador.
</p>
<p>
    Siempre estoy abierto a nuevas oportunidades y desafios, asi que si
    necesitas ayuda en algun proyecto o simplemente quieres charlar sobre
    tecnologia, no dudes en contactarme.
</p>
